* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  margin-top: 10px;
  width: 120px;
  height: 40px;
}

header a {
  color: black;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  padding: 20px 30px;
}

header li {
  padding-left: 30px;
}

.main-visual {
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}

.section-title {
  display: inline-block;
  text-align: center;
  margin: 60px 0;
  border-bottom: solid 1px #383e45;
}

.about-image {
  display: inline-block;
}
.about img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}

.about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .content-title {
  text-align: left;
}

.about .text {
  display: inline-block;
  margin-left: 30px;
}

.bicycle-image {
  width: 280px;
  height: 200px;
}

.bicycle-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about,.bicycle {
  margin: 60px 0;
}

footer {
  line-height: 80px;
  font-size: 10px;
}

@media screen and (max-width: 600px) {
  .main-visual {
    height: 300px;
  }
  .about-image {
    display: flex;
    flex-flow: column;
  }
  .about .content {
    display: flex;
    flex-flow: column;
  }
  .about .content-title {
    margin-top: 30px;
  }

  .bicycle-box {
    display: flex;
    flex-flow: column;
  }

  .bicycle-image {
    width: 100%;
  }

  .bicycle-item .text {
    margin: 20px 0;
  }


}
